# Dependencies.
node_modules/

# env files.
.env
.env.*

# Ignore Libreoffice lock files.
.~lock.*#

# Vim swap files.
.sw*
.*.sw*

# Next.js.
.next/
out/
.vercel/
.turbo/

# Node.js.
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
