# dependencies
node_modules/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env and db
backend/.env
frontend/.env.local
backend/dev.db

# Dependencies and builds
**/node_modules
frontend/.next

# Mac
.DS_Store
__MACOSX
